<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">HOME PAGE</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="<%= home_path %>">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= contacter_path %>">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= a_propos_path %>">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%=ma_presentation_path%>">Présentation personnel</a>
      </li>
    </ul>
  </div>
</nav>


<h4>Hello voici la présentation du groupe</h4>
<p> Nous sommes trois moussaillon, nous galérons comme jaja ! Fort heureusement le soleil brille de mille feux pour nous redonner espoir durant ces moments laborieux.  </p>
